* {
  margin: 0;
  padding: 0;
}
.site {
  margin: 2% 20% 2% 20%;
  /*min-height: 100%;*/

}
/*HEADER*/
.logo{
  margin-bottom: 20px;
}
.header {
  height: 35px;
  text-align: center;
  background-color: #595959;
}
.header li {
  float: left;
  display: inline;
  width: 15%;
  height: 35px;
}
.header a {
  color: white;
  text-decoration: none;
  height: 35px;
  vertical-align: -8px;
}
 .header li:hover  {
  background-color: #3b3939;
}
/*SITEBAR*/
.leftbar  {
  float: left;
  width: 25%;
  padding-top:40px;
  border: 3px;
  list-style-type: none;
}
.leftbar li {
  padding: 10px;
  border: 1px #ecebeb solid;
}
.leftbar a {
  text-decoration: none;
  color: #595959;
}
.leftbar li:hover {
  background-color: #ecebeb;
}
/*CONTENT*/
.img1 {
  float: right;
  margin-top: 40px;
  width: 65%;
}
.ris {
  width: 100%;
  height: 100%;
  border: 1px #ecebeb solid;
}
.text {
  color: #595959;
  padding: 20px;
}
/*Footer*/
.footer {
clear: both;
height: 35px;
background-color: #ecebeb;
text-align: center;
}
.footer li{
  float: left;
  display: inline;
  width: 15%;
}
.footer a{
  text-decoration: none;
  color: #595959;
  vertical-align:-8px;
}
.footer a:hover{
 text-decoration: underline;
}
.footerright {
  color: #595959;
  height: 100%;
  float: right;
  padding-right: 3%;
  padding-top: 8px;
}
