*{
  margin: 0;
  padding: 0;
}
body {
   font-family: tahoma, Arial, sans-serif;
}


/*LOGO*/

.logobox {
  background: #0c77a1;
  background: url(img/background-top.jpg);
  background-size: cover;
}
.logo{
  background: white;
  margin: 0 auto;
  width: 1000px;
  position: relative;
  box-shadow: 0 0 12px 3px rgba(3, 29, 40, 1)


}
.logo__img {
  position: absolute;
  padding-left: 25px;
  padding-top: 7px;
 }
 .logo__text{
   display: inline-block;
   color: #128aa7;
   margin-left: 100px;
   padding-top: 110px;
   font-size: 12px;
 }
 .contacts{
  float: right;
  color: #128aa7;
  font-size: 12px;
  line-height: 18px;
  padding-top: 10px;
  padding-right: 33px;
}

ul.logo__menu{
  display:inline-block;
  width: 100%;
}

.logo__menu li{
  padding-bottom: 9px;
  float: right;
  list-style-type: none;
  margin-right: 15px;
  margin-top: -18px;
}
.logo__menu a{
  display: block;
  color: #128aa7;
  font-size: 10px;
  width: 60px;
  text-align: center;
}

/*SITEBAR*/

.sitebarbox{
  background: #0c77a1;
  background: url(img/background-bottom.jpg);
  background-size: cover;
  padding-bottom: 3px;
}
.sitebar{
  margin: 0 auto;
  width: 1000px;
  clear: both;
  box-shadow: 0 0 12px 3px rgba(3, 29, 40, 1)

}

.titlefoto{
  position: relative;
  z-index: 1;
  vertical-align: bottom;
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
}
.menu {
  height: 30px;
  border-top: 1px #cacbcb solid;
  border-bottom: 1px black solid;
  padding-top: 8px;
  background: linear-gradient(to top, #373737,#303030 );
  box-shadow: 0 4px 10px  rgba(85,85,85,1) ;
  position: relative;
  z-index: 1;
}
.menu ul {
  list-style: none;
}
.menu li {
  float: left;
  position: relative;
  list-style-type: none;
  padding-left:55px;
}
.menu a {
  clear: both;
  text-decoration: none;
  color: #fff;
}
.submenu li{
  display: block;
  padding: 6px 46px 6px 10px;
  background-color: #373737;
}
.submenu a{
  display: block;
}
ul .submenu  {
  display: none;
  position: absolute;
  margin-left: -10px;
  padding-top: 11px;
  box-shadow: 0 9px 10px  rgba(64,64,64,1);
}
ul.menu  li:hover  ul.submenu {
  display: block;
}

/*CONTENTBOX*/

.collumbox{
  position: relative;
  width: 100%;
  overflow: hidden;
}
/*INFORMATION*/
.information{
  float: left;
  width: 23%;
  background: #edeef0;
  line-height: 24px;
  text-align: center;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  border-left: 1px #c7cacf solid;
  border-right: 1px #c7cacf solid;
}
/*CONTENT*/
.content{
  float: left;
  width: 54%;
  background: white;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
}
/*NEWS*/
.news{
  float: right;
  width: 23%;
  background: #edeef0;
  line-height: 24px;
  text-align: center;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  border-left: 1px #c7cacf solid;
  border-right: 1px #c7cacf solid;
}
/*FOOTER*/
.footer p{
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 6px 0 9px 0;
}
.footer{
  background: #0c739f;
}
