@font-face {
  font-family:"Neue Helvetica";
  src: url(font/HelveticaNeue.ttf);
}
.allsite{
  font-family: "Neue Helvetica";
  margin: 0 auto;
  width: 1215px;
  height: 1060px;
}
/*HEADER*/
.header{
  background: #074f8f ;
  background-image: url(img/Pattern.png),
                    url(img/Noise.png);
}

/*LEFTMENU*/
.leftmenu li{
  float: right;
}
.leftmenu a{
  display:block;
  text-decoration: none;
  color: #60b5ed;
  padding:9px 15px 8px 15px;
}
.leftmenu a:hover{
  color: white;
  background: #4eabda;
}
/*RIGHMENU*/
.rightmenu{
  margin-right: 20px;
}
.rightmenu li{
  color: white;
  float: right;
  padding: 0 15px 0 15px;
}
.rightmenu a {
  text-decoration: none;
  color: white;
  padding:9px 5px 7px 5px;
  display: inline-block;
}
.rightmenu li:hover{
  background: linear-gradient(to top, #2e7ac4, #51b1dc);
  outline: solid 1px #499cd5;
}
.rightmenu a:hover{
  text-decoration: underline;
}
.hatch img{
  float: right;
  padding-top: 2px;
}
.rightmenu__icon a{
  margin-left: 50px;
}
.rightmenu__icon:before {
  content: url(img/flagicon.png);
  position: absolute;
  padding-left: 20px;
  margin-top: 5px;
}
/*WRAPPER*/
.wrapper{
  background-image: url(img/mountian.png);
  width: 1215px;
  height: 1025px;
  display: flex;
  justify-content: center;
}
/*FORMBOX*/
.formbox{
  width: 560px;
  margin: auto;
  text-align: center;
  color: white;
}
/*FORMBOX__TOP*/
.formbox__top{
  background: rgba(0, 0, 0, 0.63);
  margin-bottom: 2px;
}
.formbox__top h1{
  padding: 11px 0 12px 0;
  font-weight: normal;
}
/*FORMBOX__CONTENT*/
.formbox__content{
  background: rgba(0, 0, 0, 0.63);
  display: block;
  padding-top: 20px;
}
.formbox__content input{
  padding:10px 90px 10px 20px;
  background: linear-gradient( to top,#0f0f0f,#111111);
  color: white;
  border: none;
  border-bottom: solid 1px #4a4a49;
}
.formbox__content input:hover{
  background: #1b5288;
  border-bottom: solid 1px #689bcf;
  box-shadow: 0 0 8px 2px rgba(104, 155, 204, 1),
  inset 0px 0px 8px 2px rgba(29, 76, 124, 1);
}
.facebook{
  border-radius: 3px;
  width: 280px;
  margin: 0 auto;
  border-top: solid 1px #7589bc;
  background: linear-gradient( to top,#314172,#3d5696);
}
.facebook__icon{
  float: left;
  padding:  9px 15px 5px 15px;
  border-right: solid 1px #1f3d71;
}
.facebook__in{
  float: left;
  border-left: solid 1px #4b67a6;
  padding: 11px 33px 9px 32px;
}
.facebook__in p:after{
  content: url(img/iconmore.png);
  padding-left: 10px;
}
.band{
  width: 280px;
  margin: 0 auto;
  position: relative;
  padding: 30px 0 20px 0;
 }
.band img{
  width: 100%;
  display: block;
  position: absolute;
  padding-top: 10px;
 }
.band p{
  color: #999;
}

.formlike a {
  text-decoration: none;
  color: white;
}
.formaction p{
  padding-top: 15px;
 }

.checkbox input:hover{
  box-shadow: none !important;
}
.submit input{
  background: linear-gradient( to top,#2e7ac4,#50aedb);
  border-radius: 3px;
  border: solid 1px #53b4de;
  border-top: solid 2px #53b4de;
  padding: 10px 10px 10px 10px;
}
.footertext {
  font-size: 11px;
  padding: 10px 0 10px 0;
}
.footertext p{
  padding-top: 5px;
}
